.imagen1 {position: relative;
left: 5%;
width: 30%;
margin: 0.3%;}

.imagen2 {position: relative;
    left: 35%;
    width: 30%;}

    .imagen3 {position: relative;
        left: -25%;
        width: 29%;}

        .mx-auto {font-size: 200%;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
            
            .texto {font-size: 120%;
            font-family:'Times New Roman', Times, serif}

        